.listing-info {
  bottom: 0;
  background-color: white;
}

.swiper-container {
  height: 100vh;
}

.swiper-wrapper {
  width: 75%;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(150, 150, 150);
}

.h-100vh {
  height: 100vh;
}