.hero-img {
  height: 100vh;
  object-fit: cover;
}

.hero-info {
  bottom: 10%;
  padding: 20px;
  color: white;

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 0.9em;
  }
}

.mid-break {
  text-align: center;
  padding: 35px 10px;

  p {
    font-size: 0.8em;
    font-weight: bold;
    color: gray;
  }

  h4 {
    font-size: 1.4em;
  }
}

.image-placeholder {
  margin-bottom: 20px;
}

.listing {
  padding: 40px 5px;
  background-color: #e7f0ff;

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  button {
    background-color: #ec5200;
    padding: 7px 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
}