.hero-img {
  height: 100vh;
  object-fit: cover;
}

.hero-info {
  bottom: 10%;
  padding: 20px;
  color: white;

  h1 {
    font-size: 2em;
  }

  p {
    font-size: 0.9em;
  }
}

.mid-break {
  text-align: center;
  margin: 35px 0;

  p {
    font-size: 0.8em;
    font-weight: bold;
    color: gray;
  }

  h4 {
    font-size: 1.2em;
  }
}

.listing {
  padding: 40px 5px;
  background-color: #e7f0ff;
}